extends ../layout/admin/layout-main.pug
block content
	h2 배너 상단 관리
	h3.my-3.wr-title - 배너등록
	form(name="bannerTopForm" action="/admin/banner/top" method="post" enctype="multipart/form-data")
		input(type="hidden" name="_method" value="post")
		input(type="hidden" name="id" value="")
		table.table
			tr
				td.w-25(style="max-width: 150px;") 제목
				td
					input.form-control(type="text" name="title" placeholder="배너제목")
			tr
				td 배너위치
				td.form-inline
					select.form-control(name="position")
						option(value="top") Top
						option(value="bot") Bottom
			tr
				td 링크
				td
					input.form-control(type="text" name="link" placeholder="링크주소")
			tr
				td 첨부이미지
				td
					input.form-control-file(type="file" name="src")
					div.py-1.src-name
			tr
				td(colspan="2")
					textarea.form-control(name="desc" style="height: 200px;")
			tr
				td.text-center(colspan="2")
					button.btn.btn-primary.mr-2 저장
					button.btn.btn-danger(type="reset") 다시작성
	h3.mt-5.mb-3 - 배너리스트
	form(action="/admin/banner/top" method="post" id="deleteForm")
		input(type="hidden" name="_method" value="delete")
		input(type="hidden" name="id" value="")
	ul.d-flex.flex-wrap.align-items-start(style="min-height: 2000px")
		each list in lists
			li.border(style="flex: 32.33% 0 0; margin: 1% 0.5%")
				div
					if list.src == ""
						img.w-100(src="https://via.placeholder.com/300x200")
					else
						img.w-100(src=`/uploads/1911/${list.src}`)
				.p-2= list.title
				.p-2
					button.btn-sm.btn-primary.mr-2(onclick=`chgData(${list.id})`) 수정
					button.btn-sm.btn-danger(onclick=`confirm('정말로 삭제하시겠습니까?') ? deleteList(${list.id}) : false`) 삭제
block js
	script(src="/js/banner.js")