/* 공통사항 */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700,900&display=swap');

html, body {font-family: 'Lato', sans-serif; height: 10000px;}

.wrap {width: 100%; max-width: 1170px; margin: 0 auto;}
.underbar {cursor: pointer;}
.underbar:after {display: block; content: ""; border-bottom: 1px solid #222; width: 0; transition: all 0.5s;}
.underbar:hover:after {width: 100%;}
.tip {position: absolute; color: #fff; font-size: 0.5rem; padding: 2px 4px 6px 4px; 
	background: url(../img/tooltip-bar.png) no-repeat center bottom; top: -24px; right: 0;}
.bt-rev {padding: 0.5rem 4rem; display: inline-block; font-size: 0.875rem; color: #f9f9f9; background-color: #111; font-weight: bold; transition: all 1s; box-shadow: 1px 1px 1px rgba(0,0,0,0.2); cursor: pointer;}
.bt-rev:hover {color: #111; background-color: #f9f9f9;}
.bt-rev.invert {color: #111; background-color: #f9f9f9;}
.bt-rev.invert:hover {color: #f9f9f9; background-color: #111;}

/* common-items */
.common-items {display: flex; justify-content: space-between;}
.common-items > .common-item {flex: 33.3333% 0 1; margin: 0 1%; text-align: center; font-size: 0.75rem;}
.common-items.five > .common-item {flex: 20% 0 1;}
.common-img {position: relative;}
.common-img > img {transition: all 1s;}
.common-img > .img-hover {position: absolute; top: 0; left: 0; width: 100%; opacity: 0;}
.common-img > ul {position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: flex-end; align-items: center; opacity: 0; transition: all 1s;}
.common-img:hover > .img-def {opacity: 0;}
.common-img:hover > .img-hover {opacity: 0.5;}
.common-img:hover > ul {opacity: 1;}
.common-img > ul > li {margin-top: 1rem;}
.common-img .heart {width: 24px; height: 24px; background-color: #ffe5e5; color: #232323; line-height: 24px; border-radius: 50%;}
.common-img .bt-rev {padding: 0.5rem 2rem; border: 1px solid #232323;}
.common-img .stars {margin-bottom: 2rem;}
.common-img .sizes {display: flex; justify-content: center;}
.common-img .size {width: 24px; height: 24px; line-height: 24px; border-radius: 50%; margin: 0 0.25rem; color: #232323; background-color: #f9f9f9; transition: all 0.5s; border: 1px solid #ccc; cursor: pointer;}
.common-img .size.size-more,
.common-img .size.size-more:hover {background-color: transparent; border: none; color: #232323;}
.common-img .size:hover {color: #f9f9f9; background-color: #232323;}
.common-img .quicks {align-self: stretch; background-color: #232323; color: #aaa;}
.common-brand,
.common-summary,
.common-price {font-size: 1.125em; color: #444;}
.common-brand {margin-top: 1rem;}
.common-summary {margin-top: 0.25rem;}
.common-price {margin-top: 0.25rem; font-weight: 900;}
.common-rel {margin-top: 0.5rem; display: flex; justify-content: center;}
.common-rel > .rel {width: 30px; height: 30px; border-radius: 50%; overflow: hidden; padding: 2px; border: 1px solid #ccc; margin: 0 0.25rem;}
.common-rel > .rel > div {width: 100%; height: 100%; position: relative; overflow: hidden;}
.common-rel > .rel > div > img {position: absolute; width: 100%; top: 0; left: 0; transform: translateY(-20%);}

/* product left, right Arrow */
.best-prev,
.best-next {width: 30px; height: 30px; border: 1px solid #111; border-radius: 50%; text-align: center; line-height: 30px; font-family: 'Poppins', sans-serif; color: #111; background-color: #f9f9f9; transition: all 1s; position: absolute; top: calc(50% - 15px); font-weight: bold; font-size: 1.25rem; cursor: pointer; z-index: 999;}
.best-prev:hover,
.best-next:hover {color: #f9f9f9; background-color: #111;} 
.best-prev {left: -15px;}
.best-next {right: -15px;}

/* 제목에 사이드 라인 주기 */
.line-tit {border-bottom: 1px solid #ccc; font-size: 1.25rem; text-align: center; font-weight: 900;}
.line-tit > span {background-color: #fff; display: inline-block; padding: 0 20px; transform: translateY(50%);}
.line-slogan {text-align: center; font-size: 0.75rem; color: #666; margin-top: 1.75rem;}

/* 이미지 커지고 투명해지고 어두워지고 */
.hover-img {overflow: hidden; background-color: #000;}
.hover-img > img {transition: all 1s;}
.hover-img:hover > img {opacity: 0.7; transform: scale(1.2);}



/* Header */
.top-banner {background-color: #ffe8e8; position: relative; text-align: center; color: #b05d5d; font-size: 0.75rem; padding: 0.5rem 0;}
.top-banner .fa-times {float: right; margin-top: 0.2rem; cursor: pointer;}
.top-icons {display: flex; justify-content: flex-end; align-items: center; font-size: 0.75rem; padding: 1rem 0;}
.top-icons > div {margin-left: 1rem;}
	.langs, .currency {position: relative; display: flex; align-items: center;}
	.langs *, .currency * {padding-right: 0.25rem;}
	.langs .fa-angle-down, .currency .fa-angle-down {color: #666;}
	.langs img, .currency img {width:18px;}
	.langs > ul, .currency > ul {position: absolute; background-color: #fff; padding: 0.5rem; top:18px; display: none;}
	.langs > ul > li, .currency > ul > li  {display: flex; padding: 0.25rem 0; align-items: center;}

	/* 상단 서치바와 서치레이어 */
	.schs {position: relative; background-color: #f1f1f1; padding: 0.25rem; border-bottom: 1px solid #ccc;}
	.schs input {width: 130px; background-color: transparent; outline-color: transparent; padding-left: 0.5rem;}
	.schs button {padding: 0 0.5rem; background-color: transparent; outline-color: transparent;}
	.sch-layer {width: 500px; position: absolute; right: 0; top: 30px; padding: 1rem; border: 1px solid #eee; background-color: #fff; display: none;}
	.sch-layer .tit {color: #333; padding: 0.25rem 0; border-bottom: 1px solid #ccc; font-weight: bold; margin-bottom: 1rem;}
	.sch-layer .tags {display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; margin-bottom: 1rem;}
	.sch-layer .tag {padding: 0.5rem 0.35rem; background-color: #eee; color: #aaa;  margin: 0.25rem;}
	.sch-layer .prds {display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start;}
	.sch-layer .prd {flex: 33.3333% 0 0; padding: 0 0.5rem;}
	.sch-layer .prd > li {margin-bottom: 0.5rem;}
	.sch-layer .prd-tit, 
	.sch-layer .prd-price {font-weight: bold;}
	.sch-layer .prd-refs {display: flex; align-items: center;}
	.sch-layer .prd-ref:not(:last-child) {width: 24px; height: 24px; overflow: hidden; border: 1px solid #ccc; border-radius: 50%; margin-right: 0.25rem;}

	.top-links {display: flex; justify-content: space-between; font-size: 0.75rem;}
	.top-links > .logo {width: 100px;}
	.top-link > .desc {font-weight: bold; text-align: right;}
	.top-link > .bts {display: flex; align-items: center; margin-top: 0.5rem;}
	.top-link > .bts > li {margin-left: 1rem; display: flex; align-items: center;}
	.top-link > .bts > li > * {margin-left: 0.5rem;}
	.top-link .rnd-cnt {width:20px; height: 20px; border-radius: 50%; background-color: lightcoral; text-align: center;}
	

	.top-navis {background-color: #232323; margin-top: 0.75rem; font-size: 0.75rem; position: relative;}
	.top-navis > .top-navi {display: flex;}
	.top-navis .underbar:after {border-color: #fff;}
	.top-navis .navi {padding: 0.75rem 0; margin-right: 2rem; color: #fff; font-weight: bold; letter-spacing: 1.5px;}

	.top-navis .subs {width: 100%; padding: 1rem; background-color: #fff; position: absolute; left: 0; top: 43px; color: #333; box-shadow: 0 2px 2px rgba(0,0,0,0.1);}

	.top-navis .subs .underbar:after {border-color: #007bff;}
	.sub-navi a {text-decoration: none; display: inline-block;}
	.sub-navi a:link,
	.sub-navi a:visited,
	.sub-navi a:active {color: #888;}
	.sub-navi a:hover {color: #007bff;}
	.grid-two {display: flex; justify-content: space-between;}
	.grid-two > .sub-navi {width: 600px; display: flex; flex-wrap: wrap; align-items: flex-start;}
	.grid-two > .sub-navi > ul {flex: 33.3333% 0 0; margin-bottom: 2rem;}
	.grid-two > .sub-navi > ul > li {padding-bottom: 0.5rem;}

	.sub-ad1 {display: flex;}
	.sub-ad1 > div {flex: 50% 0 0; padding-left: 8px;}
	.sub-ad1 img {padding-bottom: 8px;}
	
	.sub-ad2 {display: flex; letter-spacing: 0; text-align: center; font-size: 0.75rem; align-items: flex-start;}
	.sub-ad2 > div {width: 200px; margin-left: 8px;}
	.sub-ad2 .prd {padding: 0 0.5rem;}
	.sub-ad2 .prd > li {margin-bottom: 0.5rem;}
	.sub-ad2 .prd-img {padding: 0 1.5rem; position: relative;}
	.sub-ad2 .prd-img > div {position: absolute; top: 0; right: 0; padding: 0 0.25rem;background-color: #ef5845; color: #fff; font-size: 0.75em; font-weight: bold;}
	.sub-ad2 .prd-img > img:hover {opacity: 0.5; transition: all 0.5s;}
	.sub-ad2 .prd-tit {font-weight: bold;} 
	.sub-ad2 .prd-desc {line-height: 1.5;}
	.sub-ad2 .prd-price {font-weight: bold;}
	.sub-ad2 .prd-price > :nth-child(1) {color: #888; text-decoration: line-through;}
	.sub-ad2 .prd-price > :nth-child(2) {margin: 0 0.25rem; color: #bbb; font-size: 0.875em;}
	.sub-ad2 .prd-price > :nth-child(3) {color: #ef5845;}
	.sub-ad2 .prd-opts {margin-top: 1rem;}
	.sub-ad2 .prd-opts > span {border-bottom: 1px solid #333; padding: 0.25rem 0;}

	.sub-ad2 .prd-banner, 
	.sub-ad3 .prd-banner {overflow: hidden;}
	.sub-ad2 .prd-banner > img, 
	.sub-ad3 .prd-banner > img {transition: all 1s;}
	.sub-ad2 .prd-banner:hover > img, 
	.sub-ad3 .prd-banner:hover > img {transform: scale(1.2);}

	.grid-card {display: flex; justify-content: space-between; font-size: 0.75rem;}
	.grid-card > ul {flex: 19% 0 0;}
	.grid-card > ul > li {margin-bottom: 1rem;}
	.grid-card .prd-tit {color: #222; font-weight: bold; margin-top: 1rem;}
	.grid-card .sub-navi {padding: 0.25rem 0; font-weight: normal;}

	.subs-local {width: 200px !important;}
	.subs-local > * {padding: 0.75rem 0;}
	.subs-local > :not(:last-child) {border-bottom: 1px solid #eee;}

	.grid-masonry {display: flex; justify-content: space-between;}
	.grid-masonry > .sub-navi {width: 800px;}
	.grid-masonry > .sub-navi > ul {margin-bottom: 2rem;}
	.grid-masonry > .sub-navi > ul > li {padding-bottom: 0.5rem;}

	.grid-sizer, 
	.grid-item {width: 25%;}


	/* 메인 배너 */
	.main-bans {position: relative; overflow: hidden;}
	.main-ban {position: relative; width: 300%; display: flex;}
	.main-ban > li {position: relative; flex: 100% 1 1;}
	.main-bans > .pager-prev,
	.main-bans > .pager-next {position: absolute; width: 80px; height: 80px; border: 2px solid #666; border-radius: 50%; color: #666; font-size: 3rem; line-height: 78px; text-align: center; top: 50%; transform: translateY(-50%); font-family: 'Poppins', sans-serif; opacity: 0; transition: opacity 1s;}
	.main-bans > .pager-prev {left: 10%;}
	.main-bans > .pager-next {right: 10%;}
	.main-bans:hover > .pager-prev,
	.main-bans:hover > .pager-next {opacity: 1;}

	.ban-conts {position: absolute; top: 50%; transform: translateY(-50%); text-align: center; width: 400px;}
	.ban-conts > .ban-tit {font-size: 2.5rem; font-weight: 900; padding: 0.5rem 0;}
	.ban-conts > .ban-bar {width: 40px; border-bottom: 2px solid #111; display: inline-block;}
	.ban-conts > .ban-cont {font-size: 0.75rem; color: #444; padding: 1rem 0 1.5rem 0;}
	.main-ban > :nth-child(1) > .ban-conts {left: 20%;}
	.main-ban > :nth-child(3) > .ban-conts {right: 20%;}

	.bests {margin-top: 4rem; position: relative;}
	.best-items {display: flex; justify-content: space-between; align-items: flex-start;}
	.best-item {flex: 18% 0 1; position: relative; background-color: #111; overflow: hidden; cursor: pointer;}
	.best-item > img {transition: all 1s;}
	.best-item:hover > img {transform: scale(1.2); opacity: 0.8;}
	.best-item:hover > .underbar:after {width: 100%;}
	.best-item > .underbar {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #f9f9f9; font-size: 1.25rem; font-weight: 700;}
	.best-item > .underbar:after {border-color: #f9f9f9;}
	

/* BEST SELLERS */
.sellers {border-top: 1px solid #ddd; margin-top: 4rem;}
.sellers.invert {margin-top: 0rem; border-top: none; border-bottom: 1px solid #ddd;}
.seller-items {width: 100%; max-width: 1920px; margin: 0 auto; display: flex;}
.seller-items.invert {justify-content: flex-end;}
.seller-items > div {flex: 44% 0 0;}
.seller-items > div:first-child {padding-right: 5%;}
.seller-items.invert > div:first-child {padding-right: 0;}
.seller-items.invert > div:last-child {padding-left: 5%;}
.seller-imgs {position: relative;}
.seller-conts {position: absolute; left: 15%; top: 50%; transform: translateY(-50%); text-align: center; width: 60%; color: #f9f9f9;}
.seller-conts > .seller-tit {font-size: 2.5rem; font-weight: 900; padding: 0.5rem 0;}
.seller-conts > .seller-slogan {letter-spacing: 3px; font-size: 0.875rem;}
.seller-conts > .seller-cont {font-size: 0.75rem; padding: 1rem 0 1.5rem 0;}
.seller-prds {position: relative;}
.seller-prds > .seller-tit {text-align: center; font-size: 1.25rem; margin: 2rem 0 1rem 0;}
.seller-prds > .seller-slogan {text-align: center; font-size: 0.75rem; font-weight: normal; color: #666; margin-bottom: 2rem;}

/* NEW ARRIVAL */
.arrivals {padding: 5rem 0; background-color: #f8f8f8;}
.arrival-items {text-align: center; display: flex; justify-content: space-between; align-items: flex-start;}
.arrival-item {flex: 31% 0 0; position: relative; color: #fff; overflow: hidden;}
.arrival-item > li:not(:first-child) {position: absolute; width: 70%;}
.arrival-item > li {transition: all 1s;}
.arrival-item > .arrival-img > img {transition: all 1s;}
.arrival-item > .arrival-img {background-color: #000;}
.arrival-item > .arrival-slogan {top: 30%; left: 15%;}
.arrival-item > .arrival-tit {top: 40%; left: 15%; font-size: 2rem;}
.arrival-item > .arrival-cont {top: 55%; left: 15%; font-size: 0.75rem; font-weight: normal;}
.arrival-item > .arrival-bt {top: 110%; left: 15%; opacity: 0;}
.arrival-item:hover > .arrival-img > img {opacity: 0.8; transform: scale(1.2);}
.arrival-item:hover > .arrival-slogan {opacity: 0.8;}
.arrival-item:hover > .arrival-tit {opacity: 0.8;}
.arrival-item:hover > .arrival-cont {opacity: 0.8;}
.arrival-item:hover > .arrival-bt {opacity: 1; top: 75%;}

/* CHOICES */
.choices {margin-top: 5rem;}
.choice-navis {display: flex; justify-content: center; color: #969696; text-align: center; font-size: 1.25rem; margin-bottom: 3rem;}
.choice-navi {margin: 0 1rem; padding: 0.25rem; cursor: pointer;}
.choice-navi.active {color: #111; border-bottom: 2px solid #111;}

/* POSTS */
.posts {margin-top: 5rem; text-align: center;}
.post-items {margin-top: 3rem; display: flex; justify-content: space-between; align-items: flex-start;}
.post-item {flex: 48% 0 0;}
.post-desc {padding: 1rem 7%;}
.post-desc > .tit {color: #111; font-size: 1.25rem; margin-bottom: 0.75rem;}
.post-desc > .date {color: #aaa; font-size: 0.875rem; margin-bottom: 1.25rem;}
.post-desc > .desc {color: #666; font-size: 0.75rem;}


/* BRANDS */
.brands {border-top: 1px solid #ccc; padding: 2rem 0;}
.brand-items {display: flex; justify-content: space-evenly; align-items: center;}
.brand-item {flex: 18% 0 0;}

/* INSTAS */
.instas {background-color: #f1f1f1; padding: 5rem 0; text-align: center;}
.insta-tit {font-size: 1.25rem; font-weight: 900; margin-bottom: 1.5rem; color: #111;}
.insta-slogan {font-size: 0.75rem; color: #666; margin-bottom: 2rem;}
.insta-items {display: flex; justify-content: space-between; align-items: flex-start;}
.insta-item {flex: 19% 0 0;}
.insta-bts {margin-top: 2rem;}

/* footer */
footer {background-color: #232323; color: #fff; padding: 1.5rem 0; font-size: 0.875rem;}
footer a {color: #aaa; text-decoration: none; font-size: 0.875em; transition: all 1s; display: inline-block;}
footer a.underbar:after {border-bottom-color: #fff;}
footer a:link {color: #aaa; text-decoration: none;}
footer a:visited {color: #aaa; text-decoration: none;}
footer a:hover {color: #fff; text-decoration: none;}
footer a:active {color: #aaa; text-decoration: none;}
.footer-items {display: flex; justify-content: space-between; align-items: flex-start;}
.footer-item:not(:last-child) {flex: 20% 0 0;}
.footer-item:last-child {flex: 40% 0 0;}
.footer-item .tit {margin-bottom: 1.5rem; font-weight: bold;}

.footer-sns {display: flex;}
.sns-brand {display: flex; flex: 60% 0 0; justify-content: space-between; margin-bottom: 2rem;}
.sns-like {flex: 40% 0 0;}
.sns-brand > li {width: 36px; height: 36px; border-radius: 50%; line-height: 36px; font-size: 1.25em; background-color: #f1f1f1; color: #232323; text-align: center; transition: all 0.5s; cursor: pointer;}
.sns-brand > li:hover {color: #fff;}
.sns-brand > li:nth-child(1):hover {background-color: #3b5998}
.sns-brand > li:nth-child(2):hover {background-color: #55acee}
.sns-brand > li:nth-child(3):hover {background-color: #dd4b39}
.sns-brand > li:nth-child(4):hover {background-color: #497299}
.sns-brand > li:nth-child(5):hover {background-color: #cb2027}
.sns-brand > li:nth-child(6):hover {background-color: #f4e24c}
.sns-like {text-align: center; font-size: 0.875em;}
.sns-like > div:last-child {display: flex; justify-content: center; margin-top: 0.5rem;}
.sns-like > div:last-child > button {margin: 0 0.25rem; background-color: #3b5998; border: none; padding: 2px 6px; font-size: 0.75em;}
.sns-like > div:last-child > button:hover {background-color: #2a4275;}
.footer-email {display: flex; justify-content: space-between; margin-top: 1.5rem;}
.footer-email > input {flex: 80% 1 0; background-color: transparent; border: 1px solid #444; padding: 0.5rem; color: #fff; outline-color: transparent;}
.footer-email > button {flex: 19% 0 1; width: 19%; padding: 0.5rem 0; background-color: #444; margin-left: 1%;}

.footer-bots {color: #aaa; border-top: 1px solid #444; font-size: 0.875rem; line-height: 2rem;}
.footer-billing {margin-top: 2rem; display: flex;}
.footer-billing > li {flex: 38px 0 0; margin-right: 20px;}