/* 공통사항 */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700,900&display=swap');

html, body {font-family: 'Lato', sans-serif;}

.wrap {width: 100%; max-width: 1170px; margin: 0 auto;}
.underbar {cursor: pointer;}
.underbar:after {display: block; content: ""; border-bottom: 1px solid #222; width: 0; transition: all 0.5s;}
.underbar:hover:after {width: 100%;}
.tip {position: absolute; color: #fff; font-size: 0.5rem; padding: 2px 4px 6px 4px; 
	background: url(../img/tooltip-bar.png) no-repeat center bottom; top: -24px; right: 0;}
.bt-rev {padding: 0.5rem 4rem; display: inline-block; font-size: 0.875rem; color: #f9f9f9; background-color: #111; font-weight: bold; transition: all 1s; box-shadow: 1px 1px 1px rgba(0,0,0,0.2); }
.bt-rev:hover {color: #111; background-color: #f9f9f9;}

/* Header */
.top-banner {background-color: #ffe8e8; position: relative; text-align: center; color: #b05d5d; font-size: 0.75rem; padding: 0.5rem 0;}
.top-banner .fa-times {float: right; margin-top: 0.2rem; cursor: pointer;}
.top-icons {display: flex; justify-content: flex-end; align-items: center; font-size: 0.75rem; padding: 1rem 0;}
.top-icons > div {margin-left: 1rem;}
	.langs, .currency {position: relative; display: flex; align-items: center;}
	.langs *, .currency * {padding-right: 0.25rem;}
	.langs .fa-angle-down, .currency .fa-angle-down {color: #666;}
	.langs img, .currency img {width:18px;}
	.langs > ul, .currency > ul {position: absolute; background-color: #fff; padding: 0.5rem; top:18px; display: none;}
	.langs > ul > li, .currency > ul > li  {display: flex; padding: 0.25rem 0; align-items: center;}

	/* 상단 서치바와 서치레이어 */
	.schs {position: relative; background-color: #f1f1f1; padding: 0.25rem; border-bottom: 1px solid #ccc;}
	.schs input {width: 130px; background-color: transparent; outline-color: transparent; padding-left: 0.5rem;}
	.schs button {padding: 0 0.5rem; background-color: transparent; outline-color: transparent;}
	.sch-layer {width: 500px; position: absolute; right: 0; top: 30px; padding: 1rem; border: 1px solid #eee; background-color: #fff; display: none;}
	.sch-layer .tit {color: #333; padding: 0.25rem 0; border-bottom: 1px solid #ccc; font-weight: bold; margin-bottom: 1rem;}
	.sch-layer .tags {display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; margin-bottom: 1rem;}
	.sch-layer .tag {padding: 0.5rem 0.35rem; background-color: #eee; color: #aaa;  margin: 0.25rem;}
	.sch-layer .prds {display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start;}
	.sch-layer .prd {flex: 33.3333% 0 0; padding: 0 0.5rem;}
	.sch-layer .prd > li {margin-bottom: 0.5rem;}
	.sch-layer .prd-tit, 
	.sch-layer .prd-price {font-weight: bold;}
	.sch-layer .prd-refs {display: flex; align-items: center;}
	.sch-layer .prd-ref:not(:last-child) {width: 24px; height: 24px; overflow: hidden; border: 1px solid #ccc; border-radius: 50%; margin-right: 0.25rem;}

	.top-links {display: flex; justify-content: space-between; font-size: 0.75rem;}
	.top-links > .logo {width: 100px;}
	.top-link > .desc {font-weight: bold; text-align: right;}
	.top-link > .bts {display: flex; align-items: center; margin-top: 0.5rem;}
	.top-link > .bts > li {margin-left: 1rem; display: flex; align-items: center;}
	.top-link > .bts > li > * {margin-left: 0.5rem;}
	.top-link .rnd-cnt {width:20px; height: 20px; border-radius: 50%; background-color: lightcoral; text-align: center;}
	

	.top-navis {background-color: #232323; margin-top: 0.75rem; font-size: 0.75rem; position: relative;}
	.top-navis > .top-navi {display: flex;}
	.top-navis .underbar:after {border-color: #fff;}
	.top-navis .navi {padding: 0.75rem 0; margin-right: 2rem; color: #fff; font-weight: bold; letter-spacing: 1.5px;}

	.top-navis .subs {width: 100%; padding: 1rem; background-color: #fff; position: absolute; left: 0; top: 43px; color: #333; box-shadow: 0 2px 2px rgba(0,0,0,0.1);}

	.top-navis .subs .underbar:after {border-color: #007bff;}
	.sub-navi a {text-decoration: none; display: inline-block;}
	.sub-navi a:link,
	.sub-navi a:visited,
	.sub-navi a:active {color: #888;}
	.sub-navi a:hover {color: #007bff;}
	.grid-two {display: flex; justify-content: space-between;}
	.grid-two > .sub-navi {width: 600px; display: flex; flex-wrap: wrap; align-items: flex-start;}
	.grid-two > .sub-navi > ul {flex: 33.3333% 0 0; margin-bottom: 2rem;}
	.grid-two > .sub-navi > ul > li {padding-bottom: 0.5rem;}

	.sub-ad1 {display: flex;}
	.sub-ad1 > div {flex: 50% 0 0; padding-left: 8px;}
	.sub-ad1 img {padding-bottom: 8px;}
	
	.sub-ad2 {display: flex; letter-spacing: 0; text-align: center; font-size: 0.75rem; align-items: flex-start;}
	.sub-ad2 > div {width: 200px; margin-left: 8px;}
	.sub-ad2 .prd {padding: 0 0.5rem;}
	.sub-ad2 .prd > li {margin-bottom: 0.5rem;}
	.sub-ad2 .prd-img {padding: 0 1.5rem; position: relative;}
	.sub-ad2 .prd-img > div {position: absolute; top: 0; right: 0; padding: 0 0.25rem;background-color: #ef5845; color: #fff; font-size: 0.75em; font-weight: bold;}
	.sub-ad2 .prd-img > img:hover {opacity: 0.5; transition: all 0.5s;}
	.sub-ad2 .prd-tit {font-weight: bold;} 
	.sub-ad2 .prd-desc {line-height: 1.5;}
	.sub-ad2 .prd-price {font-weight: bold;}
	.sub-ad2 .prd-price > :nth-child(1) {color: #888; text-decoration: line-through;}
	.sub-ad2 .prd-price > :nth-child(2) {margin: 0 0.25rem; color: #bbb; font-size: 0.875em;}
	.sub-ad2 .prd-price > :nth-child(3) {color: #ef5845;}
	.sub-ad2 .prd-opts {margin-top: 1rem;}
	.sub-ad2 .prd-opts > span {border-bottom: 1px solid #333; padding: 0.25rem 0;}

	.sub-ad2 .prd-banner, 
	.sub-ad3 .prd-banner {overflow: hidden;}
	.sub-ad2 .prd-banner > img, 
	.sub-ad3 .prd-banner > img {transition: all 1s;}
	.sub-ad2 .prd-banner:hover > img, 
	.sub-ad3 .prd-banner:hover > img {transform: scale(1.2);}

	.grid-card {display: flex; justify-content: space-between; font-size: 0.75rem;}
	.grid-card > ul {flex: 19% 0 0;}
	.grid-card > ul > li {margin-bottom: 1rem;}
	.grid-card .prd-tit {color: #222; font-weight: bold; margin-top: 1rem;}
	.grid-card .sub-navi {padding: 0.25rem 0; font-weight: normal;}

	.subs-local {width: 200px !important;}
	.subs-local > * {padding: 0.75rem 0;}
	.subs-local > :not(:last-child) {border-bottom: 1px solid #eee;}

	.grid-masonry {display: flex; justify-content: space-between;}
	.grid-masonry > .sub-navi {width: 800px;}
	.grid-masonry > .sub-navi > ul {margin-bottom: 2rem;}
	.grid-masonry > .sub-navi > ul > li {padding-bottom: 0.5rem;}

	.grid-sizer, 
	.grid-item {width: 25%;}


	/* 메인 배너 */
	.main-bans {position: relative; }
	.main-ban {position: relative; width: 300%; display: flex;}
	.main-ban > li {position: relative;}
	.main-bans > .pager-prev,
	.main-bans > .pager-next {position: absolute; width: 80px; height: 80px; border: 2px solid #666; border-radius: 50%; color: #666; font-size: 3rem; line-height: 78px; text-align: center; top: 50%; transform: translateY(-50%); font-family: 'Poppins', sans-serif;}
	.main-bans > .pager-prev {left: 10%;}
	.main-bans > .pager-next {right: 10%;}
	.ban-conts {position: absolute; top: 50%; transform: translateY(-50%); text-align: center; width: 400px;}
	.ban-conts > .ban-tit {font-size: 2.5rem; font-weight: 900; padding: 0.5rem 0;}
	.ban-conts > .ban-bar {width: 40px; border-bottom: 2px solid #111; display: inline-block;}
	.ban-conts > .ban-cont {font-size: 0.75rem; color: #444; padding: 1rem 0 1.5rem 0;}
	.main-ban > :nth-child(1) > .ban-conts {left: 20%;}
	.main-ban > :nth-child(3) > .ban-conts {right: 20%;}