.banners-tit, .banners-wrap {width: 720px; margin: 0 auto;}
.banners-wrap {width: 720px; height: 380px; position: relative; margin-bottom: 50px; overflow: hidden;}	/* 화면 */
.banners {width:720px; position: relative; display: flex; flex-direction: column;}	/* 움직일 놈 */
.banner {width:720px; position: relative;}
.banner-cont {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 60px; color: orange;}
.bt-prev, .bt-next {font-size: 30px; font-weight: bold; position: absolute; line-height:50px; border: 4px solid #111; color: #111; border-radius: 50%; right: 30px; text-align: center; width: 60px; height: 60px; background-color: #ccc; opacity: 0.3; transition: all 0.5s; cursor: pointer;}
.bt-prev:hover, .bt-next:hover {opacity: 0.7; background-color: orange;}
.bt-prev {top: calc(50% - 70px);}
.bt-next {bottom: calc(50% - 70px);}
.pagers {position: absolute; width: 720px; display: flex; justify-content: center; z-index: 9999; bottom: 20px; left: 0;}
.pager {padding: 8px; cursor: pointer;}
.pager.active {color: red;}