.banners-tit, .banners-wrap {width: 720px; margin: 0 auto;}
.banners-wrap {position: relative; margin-bottom: 50px; overflow: hidden;}	/* 화면 */
.banners {width:4320px; position: relative; display: flex;}	/* 움직일 놈 */
.banner {width:720px; position: relative;}
.banner-cont {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 60px; color: orange;}
.bt-prev, .bt-next {font-size: 50px; font-weight: bold; position: absolute; line-height:70px; border: 4px solid #111; color: #111; border-radius: 50%; top: calc(50% - 25px); text-align: center; width: 80px; height: 80px; background-color: #ccc; opacity: 0.3; transition: all 0.5s; cursor: pointer;}
.bt-prev:hover, .bt-next:hover {opacity: 0.7; background-color: orange;}
.bt-prev {left: 50px;}
.bt-next {right: 50px;}