extends ../layout/rest/test.pug
block title
	title REST-SQL 테스트
block css
	link(href="/css/rest.css" rel="stylesheet")
block js
	script(src="/js/rest.js")
block content
	.container
		.jumbotron
			h1 RESR-SQL 테스트
		.div.create.my-3.border-bottom.pb-2
			h3.mb-2.mt-3 - 저장(Create)
			form(name="saveForm" method="post" action="/rest-sql/sql" onsubmit="return saveFn(this);")
				ul.d-flex
					li.mr-2
						input.form-control(name="username")
					li
						button.btn.btn-primary 저장
		.div.update.my-3.border-bottom.pb-2
			h3.mb-2.mt-3 - 수정(Update)
			form(name="updateForm" method="post" action="/rest-sql/sql")
				input(type="hidden" name="_method" value="put")
				input(type="hidden" name="id" value="")
				ul.d-flex
					li.mr-2
						input.form-control(name="username")
					li
						button.btn.btn-success 수정
		.div.read.my-3
			h3.mb-2 - 리스트(Read)
			ul.d-flex.flex-wrap
				each user in users
					li.m-1.p-3.d-flex.border.rounded
						span.sp-id.mr-2= user.id
						span.sp-username.mr-2= user.username
						button.bt-del.btn.btn-danger.btn-sm.mr-2 삭제
						button.bt-up.btn.btn-success.btn-sm.mr-2 수정
			
