doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Ella 관리자
		include ../../inc/css.pug
		link(rel="stylesheet" href="/css/admin.css")
		include ../../inc/js.pug
	body.admin
		include ../../inc/nav.pug
		block content
		script(src="../js/util.js")
		block js