doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		include ../../inc/css.pug
		link(href="/css/admin.css" rel="stylesheet")
		include ../../inc/js.pug
	body
		.wrap
			include ../../inc/admin-nav.pug
			.d-flex.justify-content-between
				include ../../inc/admin-left.pug
				.conts
					block conts
			include ../../inc/admin-footer.pug
			block js